$blue: #3fa5d7;
$green: #59b854;
$orange: #ef7830;
$purple: #6e559e;
$magenta: #df1c47;
$yellow: #ffb937;
$lightBlue: rgb(0, 85, 255);
$lightGreen: rgb(68, 204, 0);
$lightOrange: rgb(221, 85, 0);
$lightPurple: rgb(85, 0, 136);
$lightMagenta: rgb(170, 0, 51);
$lightYellow: #ffb937;

$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1400px;
$xsMax: 599px;
$smMax: 899px;
$mdMax: 1199px;
$lgMax: 1399px;