@import "./dependencies";

body {
	padding-top: 0px;
}

#__nuxt {
	width: 100%;
}

main {
	padding: 40px 0;
	z-index: 1;
}

.container {
	margin: 0 auto;
	max-width: calc(1440px + 10vw);
	padding-left: 16px;
	padding-right: 16px;
	width: 100%;
}

.bg {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

@media (min-width:500px) {
	body {
		padding-top: 160px;
	}

	main {
		padding-top: 40px;
	}
}

@media (min-width:$sm) {
	.container {
		padding-left: 32px;
		padding-right: 32px;
	}
}

@media (min-width:$md) {
	.container {
		padding-left: 5vw;
		padding-right: 5vw;
	}
}