@import "./dependencies";

body {
	padding-top: 160px;
}

#__nuxt {
	width: 100%;
}

main {
	min-height: 70vh;
	padding-bottom: 80px;
	padding-top: 30px;
}

.container {
	margin: 0 auto;
	max-width: calc(1440px + 10vw);
	padding-left: 16px;
	padding-right: 16px;
	width: 100%;
}

.bg {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

@media (min-width:$sm) {
	.container {
		padding-left: 32px;
		padding-right: 32px;
	}
}

@media (min-width:$md) {
	.container {
		padding-left: 5vw;
		padding-right: 5vw;
	}
}