:root{
	--blue:#3fa5d7;
	--green:#59b854;
	--orange:#ef7830;
	--purple:#6e559e;
	--red:#df1c47;
	--yellow:#ffb937;
}

$blue: var(--blue);
$green: var(--green);
$orange: var(--orange);
$purple: var(--purple);
$red: var(--red);
$yellow: var(--yellow);