:root {
	--blue: #3fa5d7;
	--green: #59b854;
	--orange: #ef7830;
	--purple: #6e559e;
	--magenta: #df1c47;
	--yellow: #ffb937;
	--about-tab-blue: rgba(0, 85, 255, 0.9);
	--about-tab-green: rgba(17, 153, 0, 0.9);
	--about-tab-orange: rgba(221, 85, 0, 0.9);
	--about-tab-purple: rgba(85, 0, 136, 0.9);
	--about-tab-magenta: rgba(170, 0, 51, 0.9);
	--about-tab-yellow: #FFF;
	--about-tab-blue-active: rgba(0, 170, 255, 0.95);
	--about-tab-green-active: rgba(68, 204, 0, 0.95);
	--about-tab-orange-active: rgba(238, 119, 0, 0.95);
	--about-tab-purple-active: rgba(136, 0, 255, 0.95);
	--about-tab-magenta-active: rgba(221, 0, 68, 0.95);
	--about-tab-yellow-active: #FFF;
	--about-tab-color-transition-speed: 0.3s;
	--about-tab-lift-speed: 0.6s;
	--about-section-bg-blue: rgba(0, 170, 255, 0.4);
	--about-section-bg-green: rgba(68, 204, 0, 0.4);
	--about-section-bg-orange: rgba(238, 119, 0, 0.4);
	--about-section-bg-purple: rgba(136, 0, 255, 0.4);
	--about-section-bg-magenta: rgba(221, 0, 68, 0.4);
	--about-section-bg-yellow: rgba(255, 187, 0, 0.4);
	--top-nav-icons-size: min(10vw, 40px);
	--top-nav-row-1-height: min(50vw, 100px);
	--about-page-font-size: clamp(14px, 3vw, 22px);
	--about-page-line-height: 140%;


	--project-color-eyeing-teamwork-accent: #dbb3e9;
	--project-color-collect-i-ve-trauma-accent: #ee80a2;
	--project-color-bnw-accent: #80d5ff;
	--project-color-pay-attention-accent: #ffdd80;
	--project-color-loving-hearts-accent: #dbb3e9;
	--project-color-one-way-accent: #ee80a2;
	--project-color-fruit-of-empathy-accent: #80d5ff;
	--project-color-ruby-slippers-accent: #ffdd80;
	--project-color-eyeing-teamwork-complement: #88cc80;
	--project-color-collect-i-ve-trauma-complement: #a2e680;
	--project-color-bnw-complement: #f7bb80;
	--project-color-pay-attention-complement: #c480ff;
	--project-color-loving-hearts-complement: #88cc80;
	--project-color-one-way-complement: #a2e680;
	--project-color-fruit-of-empathy-complement: #f7bb80;
	--project-color-ruby-slippers-complement: #c480ff;
}

@media (min-width: 500px) {
	:root {
		--top-nav-icons-size: min(6vw, 40px);
	}
}

@media (min-width: 600px) {
	:root {
		--about-page-font-size: clamp(14px, 2vw, 22px);
		--about-page-line-height: 160%;
	}
}